*.aux
*.dvi
*.gem
*.hi
*.log
*.nav
*.o
*.out
*.snm
*.toc
*.vrb
.#*
.bundle
.jhci-hist
RubyMap.hi
RubyMap.hs
RubyMap.o
Setup
dist
hs.out
hs.out_code.c
lib/RubyMap.chi
lib/RubyMap.chs.h
lib/RubyMap.hi
lib/RubyMap.hs
lib/RubyMap.o
lib/rshim.o
pkg/
pkg/*
sample/tmp
sample/tmp.old
